/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;

	text-align: center;
	width: 60%;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* Robot */
.voice1 {
	font-family: "Brenner Mono";
	color: rgb(157, 200, 159);
}

/* Officer K D 6 - 3 . 7. */
.voice2 {
	font-family: "Brenner Sans";
	color: white;
}

/* Voorbijganger */
.voice3 {
	font-family: "Brenner Sans";
}

/* Robot */
.voice4 {

}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */


/* ------------------ DETAILED SENTENCES ------------------ */

.p0 span {
	opacity: 0;
	font-family: "Brenner Mono Regular Italic";
}

/*Officer*/
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/*K*/
.p0.on span:nth-of-type(2) {
	opacity: 1;
	margin-right: -0.6em;
}

/*D*/
.p0.on span:nth-of-type(3) {
	opacity: 1;
	margin-right: -0.6em;
}

/*6*/
.p0.on span:nth-of-type(4) {
	opacity: 1;
	margin-right: -0.6em;
}

/*-*/
.p0.on span:nth-of-type(5) {
	opacity: 1;
	margin-right: -0.6em;
}

/*3*/
.p0.on span:nth-of-type(6) {
	opacity: 1;
	margin-right: -0.8em;
}

/*.*/
.p0.on span:nth-of-type(7) {
	opacity: 1;
	margin-right: -0.8em;
}

/*7*/
.p0.on span:nth-of-type(8) {
	opacity: 1;
	margin-right: -0.8em;
}

/*.*/
.p0.on span:nth-of-type(9) {
	opacity: 1;
}

/*Let's*/
.p0.on span:nth-of-type(10) {
	opacity: 1;
}

/*begin.*/
.p0.on span:nth-of-type(11) {
	opacity: 1;
	/* transition: 0s 3.2s; */
}

/*Ready?*/
.p0.on span:nth-of-type(12) {
	opacity: 1;
	/* transition: 0s 3.9s; */
}

/* ********************************************* */
.p6 span {
	opacity: 0;
	font-family: "Brenner Sans";
	color: #F5D547;
	font-size: 0.5em;
}

/*Whispers:*/
.p6.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-size: 1em;
}

/*Fuck*/
.p6.on span:nth-of-type(2) {
	opacity: 1;
	font-size: 1em;
}

/*off*/
.p6.on span:nth-of-type(3) {
	opacity: 1;
	font-size: 1em;
}

/*skin-job!*/
.p6.on span:nth-of-type(4) {
	opacity: 1;
	font-size: 1em;
}

/* ********************************************* */



/* ------------------ GENERAL TEXT AND BODY STYLING ------------------ */

body {
	background-color: #0f1318;
	font-size: 1.4em;
	color: white;
	font-family: Brenner Sans;
	text-align: center;

	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

iframe {
	transition: 1s;
	width: 60vw;
	height: 60vh;
}

.texts {
	height: 3em;
	position: relative;
	display: flex;
	justify-content: center;
	transition: 0.5s;
	font-size: 1em;
}

p.alarm {
	opacity: 0;
	position: absolute;
	font-family: "Brenner Sans Bold";
	color: #C1292E;
	top: -40px;
	transition: 0.5s;
}

p.noise {
	opacity: 0;
	position: absolute;
	transition: 0.5s;
}

p.siren {
	opacity: 0;
	position: absolute;
	font-family: "Brenner Sans Bold";
	color: #1145ee;
	top: -40px;
	transition: 0.5s;
}

p.action {
	opacity: 0;
	color: white;
}

p.mysterious {
	opacity: 0;
	color: white;
	position: absolute;
}

p.detection {
	opacity: 0;
	color: white;
	position: absolute;
}

/* ********************************************* */



/* ------------------ SCENE 1 ------------------ */

/* 0th Second */
.sound0 p.action {
	opacity: 1;
	transition: 0.5s;
}

/* 9th Second */
.sound1 p.action {
	opacity: 0;
	transition: 0.3s;
}

/* 9th Second */
.sound1 p.alarm {
	opacity: 1;
	transition: 1s;
	font-size: 1.8em;
}

/* 9th Second */
.sound2 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 100px;
}

/* 10th Second */
.sound3 iframe {
	box-shadow: none;
}

/* 10th Second */
.sound4 p.alarm {
	opacity: 0;
	transition: 0.5s;
	font-size: 1.4em;
}

/* 12th Second */
.sound5 iframe {
	box-shadow: rgb(21, 62, 245)0px 0px 50px;
}

/* 12th Second */
.sound5 p.siren {
	font-size: 1.8em;
	opacity: 1;
}

/* 13th Second */
.sound6 iframe {
	box-shadow: none;
}

/* 13th Second */
.sound6 p.siren {
	opacity: 0;
	font-size: 1.4em;
}

/* 13th Second */
.sound7 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 30px;
}

/* 15.3th Second */
.sound7 p.alarm {
	opacity: 1;
	transition: 1s;

	font-family: "Brenner Sans Bold";
	color: #C1292E;
	font-size: 1.8em;
}

/* 16.3th Second */
.sound8 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 150px;
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-7px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(9px, 0, 0);
	}

	25%,
	75% {
		transform: translate3d(-10px, 0, 0);
	}

	35%,
	65% {
		transform: translate3d(-10px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(10px, 0, 0);
	}

	45%,
	55% {
		transform: translate3d(-10px, 0, 0);
	}

	15%,
	85% {
		transform: translate3d(10px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(10px, 0, 0);
	}
}

/* 17th Second */
.sound9 p.alarm {
	opacity: 0;
	transition: 0.5s;
	font-size: 1.4em;
}

/* 17th Second */
.sound9 iframe {
	box-shadow: none;
}

/* 23th Second */
.sound10 .voice3 {
	animation: biggertext 1s;
	animation-iteration-count: 1;
}

@keyframes biggertext {

	0% {
		font-size: 0em;
	}

	100% {
		font-size: 1em;
	}
}

/* 24.5th Second */
.sound11 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 30px;
}

/* 24.5th Second */
.sound11 p.alarm {
	opacity: 1;
	transition: 1s;

	font-family: "Brenner Sans Bold";
	color: #C1292E;
	font-size: 1.8em;
}

/* 25.5th Second */
.sound12 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 150px;
	animation: shake2 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake2 {

	10%,
	90% {
		transform: translate3d(-14px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(15px, 0, 0);
	}

	25%,
	75% {
		transform: translate3d(-20px, 0, 0);
	}

	35%,
	65% {
		transform: translate3d(-20px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(20px, 0, 0);
	}

	45%,
	55% {
		transform: translate3d(-20px, 0, 0);
	}

	15%,
	85% {
		transform: translate3d(20px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(20px, 0, 0);
	}
}

/* 26.2th Second */
.sound13 iframe {
	box-shadow: none;
}

/* 26.2th Second */
.sound13 p.alarm {
	opacity: 0;
	transition: 0.5s;
	font-size: 1.4em;
}

/* 31th Second */
.sound14 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 30px;
}

/* 31th Second */
.sound14 p.alarm {
	opacity: 1;
	transition: 1s;

	font-family: "Brenner Sans Bold";
	color: #C1292E;
	font-size: 1.8em;
}

/* 32th Second */
.sound15 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 150px;
	animation: shake3 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake3 {

	10%,
	90% {
		transform: translate3d(-20px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(20px, 0, 0);
	}

	25%,
	75% {
		transform: translate3d(-40px, 0, 0);
	}

	35%,
	65% {
		transform: translate3d(-40px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(40px, 0, 0);
	}

	45%,
	55% {
		transform: translate3d(-40px, 0, 0);
	}

	15%,
	85% {
		transform: translate3d(40px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(40px, 0, 0);
	}
}

/* 32.7th Second */
.sound16 iframe {
	box-shadow: none;
}

/* 32.7th Second */
.sound16 p.alarm {
	opacity: 0;
	transition: 0.5s;
	font-size: 1.4em;
}

/* 33th Second */
.sound17 p.alarm {
	display: none;
}

/* 33th Second */
.sound17 p.noise {
	display: block;
}

/* 33th Second */
.sound17 p.noise {
	opacity: 1;
	transition: 0.5s;

	font-family: "Brenner Sans";
	color: white;
	font-size: 1em;
}

/* 33th Second */
.sound17 iframe {
	animation: shake4 5s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 2;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake4 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-2px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(2px, 0, 0);
	}
}

/* 33th Second */
.sound17 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 45%, white 50%, #22272e 55%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 5s ease;
	animation-iteration-count: infinite;
}

@keyframes leftright {

	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* 43th Second */
.sound18 iframe {
	animation: shake5 2s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 3;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 43th Second */
.sound18 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 45%, white 50%, #22272e 55%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 4s ease;
	animation-iteration-count: infinite;
}

@keyframes shake5 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-4px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(4px, 0, 0);
	}
}

/* 49th Second */
.sound19 iframe {
	animation: shake6 1.8s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 5;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 49th Second */
.sound19 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 45%, white 50%, #22272e 55%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 3s ease;
	animation-iteration-count: infinite;
}

@keyframes shake6 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-4px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(4px, 0, 0);
	}
}

/* 58th Second */
.sound20 iframe {
	animation: shake7 0.7s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 8;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 58th Second */
.sound20 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 40%, white 50%, #22272e 60%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 2s ease;
	animation-iteration-count: infinite;
}

@keyframes shake7 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-6px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(6px, 0, 0);
	}
}

/* 63.6th Second */
.sound21 iframe {
	animation: shake8 0.7s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 8;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 63.6th Second */
.sound21 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 40%, white 50%, #22272e 60%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 1s ease;
	animation-iteration-count: infinite;
}

@keyframes shake8 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-6px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(6px, 0, 0);
	}
}

/* 69th Second */
.sound22 iframe {
	animation: shake9 0.5s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 12;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 69th Second */
.sound22 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 30%, white 50%, #22272e 70%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 0.3s ease;
	animation-iteration-count: infinite;
}

@keyframes shake9 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-6px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(6px, 0, 0);
	}
}

/* 75th Second */
.sound23 p.noise {
	opacity: 0;
	transition: 0.5s;
	font-size: 1em;
}

/* 75th Second */
.sound23 {
	background: none;
	background-color: #0f1318;
}

/* ********************************************* */



/* ------------------ SCENE 2 ------------------ */

/* 86th Second */
.sound24 p.mysterious {
	opacity: 1;
	transition: 0.5s;
	top: 0;
}

/* 88th Second */
.sound25 p.mysterious {
	top: -35px;
	transition: 0.5s;
}

/* 88th Second */
.sound25 p.noise {
	top: 0px;
	opacity: 1;
	transition: 0.5s;
}

/* 88th Second */
.sound25 iframe {
	animation: shake5 2.5s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 88th Second */
.sound25 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 45%, white 50%, #22272e 55%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 4s ease;
	animation-iteration-count: infinite;
}

/* 99.3th Second */
.sound26 .p54 span {
	opacity: 1;
	transition: 0s;
	animation: biggertext2 1s;
	animation-iteration-count: 1;
}

@keyframes biggertext2 {

	0% {
		font-size: 1em;
	}

	100% {
		font-size: 0.5em;
		opacity: 0;
	}
}

/* 99.3th Second */
.sound26 .p54 span:nth-of-type(12) {
	opacity: 1;
	transition: 0s;
	animation: biggertext3 1s;
	animation-iteration-count: 1;
}

@keyframes biggertext3 {

	0% {
		font-size: 1em;
	}

	100% {
		font-size: 2em;
	}
}

/* 103th Second */
.sound27 p.detection {
	opacity: 1;
	color: rgb(90, 230, 125);
	position: absolute;
	transition: 0.5s;
}

/* 103th Second */
.sound27 iframe {
	/* opacity: 0; */
	/* color: rgb(90, 230, 125); */
	/* position: absolute; */
	transition: 1s;
	/* box-shadow: rgb(90, 230, 125) 0px 0px 30px; */

	animation: detection 1.2s ease;
	animation-iteration-count: 1;
}

@keyframes detection {

	20%,
	60%,
	100% {
		box-shadow: rgb(90, 230, 125) 0px 0px 0px;
	}

	0%,
	40%,
	80% {
		box-shadow: rgb(90, 230, 125) 0px 0px 50px;
	}
}

.sound27 p.noise {
	top: -45px;
	transition: 0.5s;
}

.sound27 p.mysterious {
	top: -80px;
	transition: 0.5s;
}


/* 104.5th Second */
.sound28 iframe {
	animation: shake11 1.5s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 104.5th Second */
.sound28 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 40%, white 50%, #22272e 55%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 2s ease;
	animation-iteration-count: infinite;
}

@keyframes shake11 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-5px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(5px, 0, 0);
	}
}

/* 104.5th Second */
.sound28 p.detection {
	opacity: 0;
}

/* 104.5th Second */
.sound28 p.noise {
	top: 0;
	transition: 0.5s;
}

/* 104.5th Second */
.sound28 p.mysterious {
	top: -35px;
	transition: 0.5s;
}

/* 113th Second */
.sound29 iframe {
	animation: shake11 1s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 113th Second */
.sound29 {
	transition: 1s;
	background: linear-gradient(90deg, #0f1318 0%, #22272e 30%, white 50%, #22272e 70%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 0.9s ease;
	animation-iteration-count: infinite;
}

/* 126th Second */
.sound30 iframe {
	animation: shake11 1s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

/* 126th Second */
.sound30 {
	background: linear-gradient(90deg, #0f1318 0%, #22272e 30%, white 50%, #22272e 70%, #0f1318 100%);
	background-size: 400% 400%;
	animation: leftright 0.4s ease;
	animation-iteration-count: infinite;
}

@keyframes shake11 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-4px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(4px, 0, 0);
	}
}

/* 129.5th Second */
.sound31 iframe,
.sound31 {
	transition: 1s;
	animation: none;
}

/* 129.5th Second */
.sound31 p.noise {
	opacity: 0;
}

/* 129.5th Second */
.sound31 p.mysterious {
	top: 0;
}

/* 135th Second */
.sound32 p.mysterious {
	opacity: 0;
}

/* ********************************************* */



/*Bronnen*/
/*Drasner, S. (2015, 24 augustus). “Shake” CSS Keyframe Animation. CSS-Tricks. https://css-tricks.com/snippets/css/shake-css-keyframe-animation/*/
/*Linear Gradient CSS. (z.d.). Linear Gradient CSS. CSS Gradient. Geraadpleegd op 18 maart 2021, van https://cssgradient.io/*/
