/* .html, body, .centreren-fix {
	width:100%;
	height:100%;
} */


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* Robot */
.voice1 {
	font-family: "Brenner Mono";
	color: white;
}

/* Officer K D 6 - 3 . 7. */
.voice2 {
	font-family: "Brenner Sans";
	color: white;
}

/* Voorbijganger */
.voice3 {
	font-family: "Brenner Sans";
}

/* Officer */
.voice4 {}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
	font-family: "Brenner Mono Regular Italic";
	color: white;
}

/*Officer*/
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/*K*/
.p0.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s .4s; */
	margin-right: -0.6em;
}

/*D*/
.p0.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s .5s; */
	margin-right: -0.6em;
}

/*6*/
.p0.on span:nth-of-type(4) {
	opacity: 1;
	/* transition: 0s .7s; */
	margin-right: -0.6em;
}

/*-*/
.p0.on span:nth-of-type(5) {
	opacity: 1;
	/* transition: 0s 1.1s; */
	margin-right: -0.6em;
}

/*3*/
.p0.on span:nth-of-type(6) {
	opacity: 1;
	/* transition: 0s 1.4s; */
	margin-right: -0.8em;
}

/*.*/
.p0.on span:nth-of-type(7) {
	opacity: 1;
	/* transition: 0s 1.7s; */
	margin-right: -0.8em;
}

/*7*/
.p0.on span:nth-of-type(8) {
	opacity: 1;
	/* transition: 0s 2s; */
	margin-right: -0.8em;
}

/*.*/
.p0.on span:nth-of-type(9) {
	opacity: 1;
	/* transition: 0s 2.3s; */
}

/*Let's*/
.p0.on span:nth-of-type(10) {
	opacity: 1;
	/* transition: 0s 3s; */
}

/*begin.*/
.p0.on span:nth-of-type(11) {
	opacity: 1;
	/* transition: 0s 3.2s; */
}

/*Ready?*/
.p0.on span:nth-of-type(12) {
	opacity: 1;
	/* transition: 0s 3.9s; */
}

/* ********************************************* */

.p1 span {
	opacity: 0;
	font-family: "Brenner Sans";
	color: white;
}

/*Yes,*/
.p1.on span:first-of-type {
	opacity: 1;
	/* transition: 0s; */
}

/*sir*/
.p1.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s .4s; */
}

/*ALARM*/
/* .p1.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s 1s;
	font-family: "Brenner Sans Bold";
	color: #C1292E;
} */

/* ********************************************* */
.p2 span {
	opacity: 0;
	font-family: "Brenner Mono Regular Italic";
	color: white;
}

/*Recite*/
.p2.on span:first-of-type {
	opacity: 1;
	/* transition: 0s; */
}

/*your*/
.p2.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s 0.3s; */
}

/*baseline*/
.p2.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s 0.5s; */
}

/* ********************************************* */
.p3 span {
	opacity: 0;
	font-family: "Brenner Sans";
	color: white;
	transition: 0s;
}

/*And*/
.p3.on span:first-of-type {
	opacity: 1;
	/* transition: 0s; */
}

/*blood-black*/
.p3.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s 0.3s; */
}

/*nothingness*/
.p3.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s 0.5s; */
}

/*began*/
.p3.on span:nth-of-type(4) {
	opacity: 1;
	/* transition: 0s 0.7s; */
}

/*to*/
.p3.on span:nth-of-type(5) {
	opacity: 1;
	/* transition: 0s 0.9s; */
}

/*spin*/
.p3.on span:nth-of-type(6) {
	opacity: 1;
	/* transition: 0s 1.1s; */
}

.p3.on span:nth-of-type(7) {
	opacity: 1;
	/* transition: 0s 1.3s; */
	font-family: "Brenner Sans Bold";
	color: #C1292E;
}

/* ********************************************* */
.p4 span {
	opacity: 0;
	font-family: "Brenner Sans";
	color: white;
	transition: 0s;
}

/*A*/
.p4.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/*system*/
.p4.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s 0.3s; */
}

/*of*/
.p4.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s 0.5s; */
}

/*cells*/
.p4.on span:nth-of-type(4) {
	opacity: 1;
	/* transition: 0s 0.7s; */
}

/*interlinked*/
.p4.on span:nth-of-type(5) {
	opacity: 1;
	/* transition: 0s 0.9s; */
}

/*within*/
.p4.on span:nth-of-type(6) {
	opacity: 1;
	/* transition: 0s 1.1s; */
}

/*cells,*/
.p4.on span:nth-of-type(7) {
	opacity: 1;
	/* transition: 0s 1.3s; */
}

/* ********************************************* */
.p5 span {
	opacity: 0;
	font-family: "Brenner Sans";
	color: white;
	transition: 0s;
}

/*interlinked*/
.p5.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/*within*/
.p5.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s 0.3s; */
}

/*cells,*/
.p5.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s 0.5s; */
}

/*interlinked*/
.p5.on span:nth-of-type(4) {
	opacity: 1;
	/* transition: 0s 0.7s; */
}

/*within*/
.p5.on span:nth-of-type(5) {
	opacity: 1;
	/* transition: 0s 0.9s; */
}

/*one*/
.p5.on span:nth-of-type(6) {
	opacity: 1;
	/* transition: 0s 1.1s; */
}

/*stem.*/
.p5.on span:nth-of-type(7) {
	opacity: 1;
	/* transition: 0s 1.3s; */
}

/* ********************************************* */
.p6 span {
	opacity: 0;
	font-family: "Brenner Sans";
	color: #F5D547;
	transition: 0s;
}

/*Fuck*/
.p6.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/*off*/
.p6.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s 0.3s; */
}

/*skin-job!*/
.p6.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s 0.5s; */
}

/* ********************************************* */
.p7 span {
	opacity: 0;
	font-family: "Brenner Sans";
	color: white;
	transition: 0s;
}

/*And*/
.p7.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/*dreadfully*/
.p7.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s 0.3s; */
}

/*distrinct*/
.p7.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s 0.5s; */
}

/*against*/
.p7.on span:nth-of-type(4) {
	opacity: 1;
	/* transition: 0s 0.7s; */
}

/*the*/
.p7.on span:nth-of-type(5) {
	opacity: 1;
	/* transition: 0s 0.9s; */
}

/*dark*/
.p7.on span:nth-of-type(6) {
	opacity: 1;
	/* transition: 0s 1.1s; */
}

/*a*/
.p7.on span:nth-of-type(7) {
	opacity: 1;
	/* transition: 0s 1.3s; */
}

/*tall*/
.p7.on span:nth-of-type(8) {
	opacity: 1;
	/* transition: 0s 1.5s; */
}

/*white*/
.p7.on span:nth-of-type(9) {
	opacity: 1;
	/* transition: 0s 1.7s; */
}

/*fountain*/
.p7.on span:nth-of-type(10) {
	opacity: 1;
	/* transition: 0s 1.9s; */
}

/*played...*/
.p7.on span:nth-of-type(11) {
	opacity: 1;
	/* transition: 0s 2.1s; */
}

/*ALARM*/
.p7.on span:nth-of-type(12) {
	opacity: 1;
	/* transition: 0s 2.3s; */
	font-family: "Brenner Sans Bold";
	color: #C1292E;
}

/* ********************************************* */
.p8 span {
	opacity: 0;
	font-family: "Brenner Mono";
	color: white;
	transition: 0s;
}

/*Cells.*/
.p8.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* ********************************************* */
.p9 span {
	opacity: 0;
	font-family: "Brenner Sans";
	color: white;
	transition: 0s;
}

/*Cells.*/
.p9.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* ********************************************* */
.p10 span {
	opacity: 0;
	font-family: "Brenner Mono";
	color: white;
	transition: 0s;
}

/*Have*/
.p10.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/*you*/
.p10.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s 0.3s; */
}

/*ever*/
.p10.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s 0.5s; */
}

/*been*/
.p10.on span:nth-of-type(4) {
	opacity: 1;
	/* transition: 0s 0.7s; */
}

/*in*/
.p10.on span:nth-of-type(5) {
	opacity: 1;
	/* transition: 0s 0.9s; */
}

/*an*/
.p10.on span:nth-of-type(6) {
	opacity: 1;
	/* transition: 0s 1.1s; */
}

/*institution?*/
.p10.on span:nth-of-type(7) {
	opacity: 1;
	/* transition: 0s 1.3s; */
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
/* .sound1 {
	background: yellow;
} */

body {
	background-color: #0f1318;
	font-size: 1.4em;
	color: white;
	font-family: Brenner Sans;
	text-align: center;
}

p.bijtekst {
	color: red;
}

/* seconde ALARM 10 */
p.alarm {
	opacity: 0;
}

p.noice {
	opacity: 0;
	display: none;
}

/* .alarm iframe {
	background-color: yellow;
} */

/* seconde 9 */
.sound1 p.alarm {
	opacity: 1;
	transition: 1s;

	font-family: "Brenner Sans Bold";
	color: #C1292E;
	font-size: 1.8em;
}

/* seconde 10 */
.sound2 p.alarm {
	opacity: 0;
	transition: 0.5s;
	font-size: 1.4em;
}

/* seconde 9 */
.sound3 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 100px;
}

/* seconde 10 */
.sound4 iframe {
	box-shadow: none;
}

/* seconde 15.3 */
.sound5 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 30px;
}

/* seconde 15.3 */
.sound5 p.alarm {
	opacity: 1;
	transition: 1s;

	font-family: "Brenner Sans Bold";
	color: #C1292E;
	font-size: 1.8em;
}

/* seconde 16.3 */
.sound6 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 150px;
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-7px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(9px, 0, 0);
	}

	25%,
	75% {
		transform: translate3d(-10px, 0, 0);
	}

	35%,
	65% {
		transform: translate3d(-10px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(10px, 0, 0);
	}

	45%,
	55% {
		transform: translate3d(-10px, 0, 0);
	}

	15%,
	85% {
		transform: translate3d(10px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(10px, 0, 0);
	}
}

/* seconde 17 */
.sound7 p.alarm {
	opacity: 0;
	transition: 0.5s;
	font-size: 1.4em;
}

/* seconde 17 */
.sound7 iframe {
	box-shadow: none;
}

/* seconde 24.5 */
.sound8 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 30px;
}

.sound8 p.alarm {
	opacity: 1;
	transition: 1s;

	font-family: "Brenner Sans Bold";
	color: #C1292E;
	font-size: 1.8em;
}

/* seconde 25.5 */
.sound9 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 150px;
	animation: shake2 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake2 {

	10%,
	90% {
		transform: translate3d(-14px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(15px, 0, 0);
	}

	25%,
	75% {
		transform: translate3d(-20px, 0, 0);
	}

	35%,
	65% {
		transform: translate3d(-20px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(20px, 0, 0);
	}

	45%,
	55% {
		transform: translate3d(-20px, 0, 0);
	}

	15%,
	85% {
		transform: translate3d(20px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(20px, 0, 0);
	}
}

/* seconde 26.2 */
.sound10 iframe {
	box-shadow: none;
}

/* seconde 26.2 */
.sound10 p.alarm {
	opacity: 0;
	transition: 0.5s;
	font-size: 1.4em;
}

/* seconde 24.5 */
.sound11 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 30px;
}

.sound11 p.alarm {
	opacity: 1;
	transition: 1s;

	font-family: "Brenner Sans Bold";
	color: #C1292E;
	font-size: 1.8em;
}

/* seconde 25.5 */
.sound12 iframe {
	box-shadow: rgb(235, 59, 59) 0px 0px 150px;
	animation: shake3 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake3 {

	10%,
	90% {
		transform: translate3d(-20px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(20px, 0, 0);
	}

	25%,
	75% {
		transform: translate3d(-40px, 0, 0);
	}

	35%,
	65% {
		transform: translate3d(-40px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(40px, 0, 0);
	}

	45%,
	55% {
		transform: translate3d(-40px, 0, 0);
	}

	15%,
	85% {
		transform: translate3d(40px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(40px, 0, 0);
	}
}

/* seconde 26.2 */
.sound13 iframe {
	box-shadow: none;
}

/* seconde 26.2 */
.sound13 p.alarm {
	opacity: 0;
	transition: 0.5s;
	font-size: 1.4em;
}


/* SCENE 2 */

/* seconde 33 */

.sound14 p.alarm {
	display: none;
}

.sound14 p.noice {
	display: block;
}

.sound14 p.noice {
	opacity: 1;
	transition: 1s;

	font-family: "Brenner Sans";
	color: white;
	font-size: 1em;
}

/* seconde 33 */
.sound14 iframe {
	animation: shake4 5s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 2;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake4 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-1px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(1px, 0, 0);
	}
}

/* seconde 4 3 */
.sound15 iframe {
	animation: shake5 2s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 3;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake5 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-2px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(2px, 0, 0);
	}
}

/* seconde 49 */
.sound16 iframe {
	animation: shake6 1.8s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 5;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake6 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-2px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(2px, 0, 0);
	}
}

/* seconde 58 */
.sound17 iframe {
	animation: shake7 0.7s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 8;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake7 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-3px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(3px, 0, 0);
	}
}

/* seconde 63.6 */
.sound18 iframe {
	animation: shake8 0.7s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 8;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake8 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-3px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(3px, 0, 0);
	}
}

/* seconde 69 */
.sound19 iframe {
	animation: shake9 0.5s cubic-bezier(.36, .07, .19, .97) both;
	animation-iteration-count: 12;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	transition: 0.7s;
}

@keyframes shake9 {

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		transform: translate3d(-3px, 0, 0);
	}

	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: translate3d(3px, 0, 0);
	}
}

/* seconde 75 */
.sound20 p.noice {
	opacity: 0;
	transition: 0.5s;
	font-size: 1em;
}

iframe {
	transition: 1s;
	width: 60vw;
	height: 60vh;
}


/* The moment the class .sound1 is added to the body, the movie makes a turn */

/* .sound1 iframe {
	transform: rotate(1turn);
} */











/* AANGEPAST */

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#closed-captions p {
	text-align: center;
	width: 60%;
}

/* .p0 span {
	opacity: 0;
	font-family: brenner;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 400;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 800;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "brenner sans";
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "brenner display";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-family: "brenner script";
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: "brenner script";
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: "brenner Sans condensed";
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-family: "brenner slab";
} */


/*Bronnen*/
/*https://css-tricks.com/snippets/css/shake-css-keyframe-animation/*/